<h1>Modifier mon mot de passe</h1>

<form [formGroup]="form" (ngSubmit)="save()">

    <mat-form-field appearance="outline">
        <mat-label>Ancien mot de passe</mat-label>
        <input matInput type="password" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput type="password" formControlName="newPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        Modifier
    </button>

</form>