<h1>Modifier mon mot de passe</h1>

<button class="back-btn" type="button" (click)="backToProfile()">
    Revenir à mon profil
</button>

<form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
        <mat-label>Ancien mot de passe</mat-label>

        <input matInput type="password" autocomplete="current-password" formControlName="currentPassword" />

        @if (form.controls.currentPassword.touched &&
        form.controls.currentPassword.hasError('required')) {
        <mat-error>
            L’ancien mot de passe est obligatoire.
        </mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nouveau mot de passe</mat-label>

        <input matInput type="password" autocomplete="new-password" formControlName="newPassword" />

        @if (form.controls.newPassword.touched &&
        form.controls.newPassword.hasError('required')) {
        <mat-error>
            Le nouveau mot de passe est obligatoire.
        </mat-error>
        } @else if (form.controls.newPassword.touched &&
        form.controls.newPassword.hasError('minlength')) {
        <mat-error>
            Le mot de passe doit contenir au moins 10 caractères.
        </mat-error>
        }
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        Modifier
    </button>
</form>