### Java / Maven ###
target/
*.class
*.log
*.jar
*.war
*.ear

### IntelliJ ###
.idea/
*.iml

### Node / Angular ###
node_modules/
dist/
*.map

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
