<h1 class="title">Gestion des informations</h1>

<table mat-table [dataSource]="informations" class="mat-elevation-z2">

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Titre</th>
        <td mat-cell *matCellDef="let i">{{ i.title }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let i">
            <span class="badge type" [class.article]="i.type === 'ARTICLE'" [class.video]="i.type === 'VIDEO'"
                [class.pdf]="i.type === 'PDF'">
                {{ i.type }}
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Catégorie</th>
        <td mat-cell *matCellDef="let i">
            <span class="badge category">{{ i.categoryName }}</span>
        </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Créé le</th>
        <td mat-cell *matCellDef="let i">
            {{ i.createdAt | date:'dd/MM/yyyy HH:mm' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let i">

            <button mat-icon-button color="primary" (click)="edit(i.slug)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="delete(i.informationId)">
                <mat-icon>delete</mat-icon>
            </button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>